/*==============================================================
# Main Container
==============================================================*/
body.open {
	overflow: hidden;
}
.section {
	float: left;
	width: 100%;
	opacity: 1;
	visibility: visible;
	height: auto;
	&.disabled-section {
		opacity: 0;
		visibility: hidden;
		height: 0;
		transition: .3s all ease;
	}
}
.toggle-section {
	overflow: hidden;
}
.main-container {
	left: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition: .3s all ease;
	&:after {
		content: "";
		display: block;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.3);
		opacity: 0;
		visibility: hidden;
	}
	@include breakFirst(wide) {
		padding-left: 234px;
	}
	&.open {
		padding-left: 234px;
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}
.introduction-section,
.exterior-features-section {
	.media-wrapper {
		height: 40vw;
		max-height: 800px;
		float: left;
		width: 100%;
		position: relative;
		img {
			float: left;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
		}
	}
}
.introduction-component {
	text-align: center;
	padding: 25px 0;
	h2, h3 {
		text-transform: uppercase;
		color: $teal;
	}
	h2 {
		font-size: 22px;
	}
}