/*==============================================================
# Buttons
==============================================================*/

.button {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    max-width: 230px;
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 12px;
    appearance: none;
    user-select: none;
    transition: background-color .3s;
    &.gray-color {
    	background-color: $gray;
    	color: $white;
    }
    svg {
        fill: $white;
        width: 18px;
        height: 20px;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 5px;
    }
}