/*==============================================================
# Carousels
==============================================================*/
.carousel-component {
    position: relative;
}
.slides-wrapper {
    width: 100%;
    margin: 0 auto;
    img {
        float: left;
    }
}
.arrow-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    width: 50px;
    &.previous-arrow {
        left: -20px;
    }
    &.next-arrow {
        right: -20px;
    }
    svg {
        fill: $gray;
        display: inline-block;
    }
}
.slides-navigation-wrapper {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    color: $white;
    li {
        max-width: 160px;
        display: inline-block !important;
        float: none;
        line-height: 45px;
        padding: 5px 15px;
        cursor: pointer;
        transition: .3s all $cbTrans;
        @include breakFirst(medium) {
            &:hover {
                background-color: rgba(0, 0, 0, .5);
            }
        }
        &.slick-current {
            background-color: $teal;
        }
    }
}
.bathroom-slide {
    position: relative;
    .slide-background {
        @include background-cover(center, center);
        @include fill-parent(-4);
        background-image: url('../img/carousels/kitchen.jpg');
        filter: blur(30px);
    }
}
.glossary-section {
    .slides-wrapper {
        padding: 0 50px;
        margin: 10px 0 75px;
    }
    .slick-list {
        @include breakFirst(medium) {
            &:hover{
                .card-slide {
                    box-shadow: 0 0px 2px 1px $grayMed;
                    &:hover {
                        box-shadow: 0 2px 4px 3px $grayMed;
                    }
                }
            }
        }
    }
    .card-slide {
        position: relative;
        overflow: hidden;
        margin: 15px;
        background: lighten($grayLight, 5%);
        box-shadow: 0 0px 3px 2px $grayMed;
        transition: .3s all $cbTrans;
        &.active-card {
            .background-content {
                 transform: translateY(0%);
            }
            .foreground-content {
                transform: translate3d(0, 30%, 0);
            }
        }
        .card-title,
        .card-body,
        .card-footer {
            padding: 10px;
        }
        .card-content {
            padding: 15px 10px;
            min-height: 300px;
            transition: .3s all $cbTrans;
        }
        .foreground-content {
            &.card-content {
                a {
                    color: $gray;
                }
            }
        }
        .background-content {
            &.card-content {
                a {
                    color: $white;
                }
            }
            .card-body {
                @include breakFirst(large) {
                    max-height: 175px;
                    overflow-y: scroll;
                }
            }

        }
        .card-footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            width: 100%;
        }
        .foreground-content {
            text-align: center;
            position: relative;
            z-index: 0;
            transform: translate3d(0, 0, 0);
            .card-title {
                margin: 20px 0 0px;
                padding: 0 0 30px;
            }
            h4 {
                font-size: 16px;
                line-height: 145%;
            }
            .icon {
                width: 90px;
                height: 90px;
                margin-bottom: 25px;
                border: 5px solid $white;
            }
        }
        .background-content {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            transform: translateY(100%);
            background: $teal;
            color: $white;
            overflow: scroll;
            .icon {
                width: 45px;
                height: 45px;
                margin-right: 5px;
            }
            h4 {
                font-size: 16px;
                margin: 0;
                display: inline-block;
                vertical-align: middle;
                max-width: 75%;
                max-width: calc(100% - 55px);
            }
            p {
                font-size: 14px;
            }
        }
    }
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    outline: none;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}