// 1. Configuration and helpers
@import
    'utilities/_fonts',
    'utilities/_variables',
    'utilities/_mixins',
    'utilities/_grid';

// 2. Base
@import
    'base/_reset',
    'base/_typography',
    'base/_helpers';

// 3. Sections
@import
    'sections/_main',
    'sections/_header',
    'sections/_footer',
    'sections/_navigation',
    'sections/_features',
    'sections/_rating',
    'sections/_media-gallery',
    'sections/_comparisons';

// 4. Components
@import
    'components/_buttons',
    'components/_tabs',
    'components/_tooltips',
    'components/_icons',
    'components/_legends',
    'components/_image-map',
    'components/_rating-component',
    'components/_grid-component',
    'components/_charts',
    'components/_carousel';